#header {
  position: fixed;
}

.landing-main {
  display: flex;
}

.landing-content {
  width: 50%;
  padding-left: 50px; /* idk gano kalaki */
}

.landing-content h1 {
  /* style nung header */
}

.landing-content span {
  /* style nung purple sa header */
}

.landing-content p {

}

.landing-img {
  width: 50%;
}

.landing-img img{
  width: 100%;
}